@{
    ViewBag.Title = "HomeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>This is Home Page</h1>
@section scripts {
    <!-- Theme Specific Scripts -->
    <script src="~/Theme/js/custom.js" defer></script>
}
