/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*
    jQuery UI dialog box 
*/
.ui-icon-alert {
    float: left;
    margin: 12px 12px 20px 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .cancelClass {
    font-size: 15px;
    color: #ffffff;
    background: #f86379;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .confirmClass {
    color: #ffffff;
    background: #90c93e;
}

.ui-dialog .ui-dialog-title {
    font-size: 15px;
}
/* END */
