<link href="~/Content/css/select2.css" rel="stylesheet" />
<br />
<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label col-md-2">Trainer</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" id="ddl-trainers" style="width: 300px"></select>
            </div>
            

            <div class="col-md-2">
                @Html.Label("Is Lead?")
                @Html.CheckBox("is-lead")
            </div>

            <div class="col-md-2">
                <input type="button" value="Add" class="btn btn-success" id="add-to-table" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <input type="button" value="Save" class="btn btn-primary" id="save-button" />
            </div>
        </div>
    </div>
</form>

<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Lead Trainer?</th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody id="table-body"></tbody>
</table>

