

@{
    ViewBag.Title = "title";
}

<br/>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#basic-tab" data-toggle="tab">Basic Info</a></li>
    <li role="presentation"><a href="#assign-trainer" data-toggle="tab">Assign Trainer</a></li>
    <li role="presentation"><a href="#create-exams" data-toggle="tab">Create Exams</a></li>
</ul>

<div class="tab-content">
    <div id="basic-tab" class="tab-pane active">

    </div>
    <div id="assign-trainer" class="tab-pane"></div>
    <div id="create-exams" class="tab-pane"></div>
</div>